/* Globals */
:root {
    --text: hsl(55, 66%, 65%);
    --background: hsl(147, 94%, 6%);
    --primary: hsl(54, 19%, 71%);
    --secondary: hsl(54, 55%, 49%);
    --accent: hsl(0, 75%, 39%);

    --font: 'M Plus 1 Code', monospace;
    --lineheight: calc(1ex / 0.32);
    --ship-section-size: 5ch;
}

/* UI Elements */
button {
    position: relative;
    padding: calc(var(--lineheight) / 4) 1.5ch;
    background: none;
    border: 1px solid var(--text);
    color: var(--text);
    text-decoration: underline;
}
button:hover {
    font-weight: 700;
}
button:hover::before,
button:focus-visible::before {
    position: absolute;
    content: '>';
    font-weight: 400;
    background-color: var(--background);
    transform: translateX(-2ch);
}
button:active {
    background-color: var(--accent);
    transform: scale(0.95);
}
button:active::before {
    background-color: var(--accent);
}

button:disabled {
    color: var(--primary);
    text-decoration: line-through;
    pointer-events: none;
    border-color: var(--primary);
}
input {
    box-sizing: border-box;
    display: block;
    width: min(100%, 55ch);
    background-color: var(--background);
    color: var(--text);
    border: none;
    border-bottom: solid 1px var(--text);
    margin: calc((var(--lineheight) / 4) + 1px) 0;
    padding: calc(var(--lineheight) / 4) 1.5ch;
}
input::placeholder {
    color: var(--primary);
    opacity: 1;
}
input:focus-visible {
    background-color: var(--text);
    color: var(--background);
}
input:focus-visible::placeholder {
    color: unset;
}

/* Secciones */
body {
    position: relative; /* Pra permitir la ubicación del radar */
    min-height: 100svh;
    padding: 2ch;
    background-color: var(--background);
    color: var(--text);
    font-family: var(--font);
}

header {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    min-height: calc(var(--lineheight) * 2);
    margin: 0 0 calc(var(--lineheight) / 2);
}

header > button {
    flex-shrink: 0
}

.board {
    border: solid 1px var(--text);
    outline: solid 1px var(--text);
    outline-offset: 2px;

    margin: 0 0 calc(var(--lineheight) / 2);
    width: min(100%, calc(var(--ship-section-size) * 11 + 2px));
    aspect-ratio: 1;

    display: grid;
    grid-template-columns: repeat(11, 1fr);
    grid-template-rows: repeat(11, 1fr);
    gap: 0;
    justify-items: stretch;
    align-items: stretch;
}
.board__coordenates {
    align-self: center;
    justify-self: center;
}
.board__attack {
    border: none;
    background: none;
    outline: solid 1px var(--text);
    color: var(--text);

    transition: background-color 1.5s ease-out;
}
.board__attack:hover {
    background-color: var(--text);
    color: var(--background);

    transition: background-color 0.1s ease-in;
}
.board__attack:hover:focus-within {
    outline-color: var(--background);
}
.board__attack:focus-within {
    outline-offset: -4px;
}
.board__attack:disabled {
    cursor: not-allowed;
    text-decoration: none;

    background-color: var(--background);
    color: var(--text);
}
.board__attack:disabled[data-impact='ship'] {
    color: var(--background);
    background-color: var(--text);
}
.board__attack:active {
    transform: scale(1.2);
    background-color: var(--accent);
}
.board__ships {
    border: none;
    background: none;
    outline: solid 1px var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
}
.board__ships--empty {
    color: var(--text);
}
.board__ships--occupied {
    color: var(--background);
    background-color: var(--text);
}

nav {
    border-bottom: 1px solid var(--text);
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
nav > button {
    border-bottom: none;
}
nav > button:active {
    transform-origin: bottom center;
}

.settings {
    width: min(100%, calc(var(--ship-section-size) * 11 + 2px));
}

.settigs__dialog {
    padding: calc(var(--lineheight) / 4) 1.5ch;
    border: 1px solid var(--text);
    border-top: none;
    margin: 0 0 calc(var(--lineheight) / 2);
}
.dialog__ship {
    position: relative;
    font-weight: 700;
}
.dialog__ship::before {
    position: absolute;
    transform: translateX(-2ch);
    background-color: var(--background);
    font-weight: 400;
    content: '> ';
}

.dialog__dock {
    margin: calc(var(--lineheight) / 4 ) 0.5ch var(--lineheight);

    display: flex;
    align-items: center;
    justify-content: center;

}
.dock__ship {
    display: flex;
    flex-direction: column;
}
.dock__ship--vertical {
    flex-direction: column;
}
.ship__section {
    cursor: grab;
    width: 4ch;
    aspect-ratio: 1;
    outline: 1px solid var(--background);

    background-color: var(--text);
    color: var(--background);
    display: flex;
    align-items: center;
    justify-content: center;
}
.dialog__options, 
.settings__confirmation {
    display: flex;
    justify-content: space-between;
}

.counter {
    display: block;
    color: var(--accent);
    font-weight: 700;
}
.counter::after {
    content: ' Segundos';
}

/* .settingsBTN { */
/*     background-color: var(--background); */
/*     font-weight: 700; */
/*     color: var(--text); */
/*     border: solid 1px var(--text); */
/*     margin: calc((var(--lineheight) / 4) + 1px) 0; */
/*     padding: calc(var(--lineheight) / 4) 1.5ch; */
/* } */
/* .settingsBTN:hover, */
/* .settingsBTN:focus-visible { */
/*     background-color: var(--text); */
/*     color: var(--background); */
/* } */
/* .settingsBTN:active { */
/*     background-color: var(--secondary); */
/*     transform: scale(0.95); */
/* } */
/* .settingsBTN:disabled { */
/*     background-color: var(--text); */
/*     color: var(--background); */
/*     pointer-events: none; */
/* } */
/**/

/* Animations */
.radar {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
}
.radar__swep {
    width: calc(max(100vh, 100vw) * 3);
    aspect-ratio: 1;
    background-image: repeating-conic-gradient(
        var(--background),
        var(--text) 177deg,
        white 180deg
    );
    mix-blend-mode: hard-light;
    animation: radar 5s infinite linear;
}
.alarm {
    animation: alarm 1s linear infinite;
}

@keyframes radar {
    from {
        transform: translate(-50%, -50%) rotate(0turn);
    }
    to {
        transform: translate(-50%, -50%) rotate(1turn);
    }
}
@keyframes alarm {
    40%,
    60% {
        background-color: var(--accent);
    }
}
