/* FUENTES */
@font-face {
    font-family: 'M Plus 1 Code';
    font-weight: 400;
    font-style: normal;
    src:
        local('M Plus 1 Code'),
        url('../assets/fonts/MPLUS1Code-Regular.woff2') format('woff2'),
        url('../assets/fonts/MPLUS1Code-Regular.woff') format('woff');
}
@font-face {
    font-family: 'M Plus 1 Code';
    font-weight: 700;
    font-style: normal;
    src:
        local('M Plus 1 Code'),
        url('../assets/fonts/MPLUS1Code-Bold.woff2') format('woff2'),
        url('../assets/fonts/MPLUS1Code-Bold.woff') format('woff');
}
:root {
    --text: hsl(55, 66%, 65%);
    --background: hsl(147, 94%, 6%);
    --primary: hsl(54, 19%, 71%);
    --secondary: hsl(54, 55%, 49%);
    --accent: hsl(0, 75%, 39%);

    --font: 'M Plus 1 Code', monospace;
    --lineheight: calc(1ex / 0.32);
    --ship-section-size: 5ch;
}
html {
    hanging-punctuation: first last;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}
*:not(dialog),
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1,
h2,
label,
p {
    line-height: var(--lineheight);
    margin: 0 0 var(--lineheight);
    font-weight: 400;
    max-width: 55ch;
    text-wrap: pretty;
}
h1,
h2 {
    font-size: 1rem;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    text-wrap: balance;
}
strong {
    font-weight: 700;
}

a,
button {
    cursor: pointer;
}
:focus-visible {
    outline: solid 1px var(--text);
    outline-offset: 2px;
}
input,
textarea,
button,
select {
    font: inherit;
}
::selection {
    background-color: var(--primary);
    color: var(--background);
}
/* Secciones */
body {
    position: relative;
    padding: 2ch;
    font-family: var(--font);
    background-color: var(--background);
    min-height: 100svh;
    color: var(--text);
    /* animation: alarm 1s linear infinite ; */
}

.radar {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
}
.radar__swep {
    width: calc(max(100vh, 100vw) * 3);
    aspect-ratio: 1;
    background-image: repeating-conic-gradient(
        var(--background),
        var(--text) 177deg,
        white 180deg
    );
    mix-blend-mode: hard-light;
    animation: radar 5s infinite linear;
}

header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin: 0 0 calc(var(--lineheight));
    /* padding: 0 0 calc(var(--lineheight) / 2); */
    min-height: calc(var(--lineheight) * 2);
    border-bottom: 4px double var(--text);
}

nav {
    margin: 0;
    padding: 0;
}

header button,
nav button {
    background-color: var(--background);
    color: var(--text);
    font-weight: 700;
    border: none;

    margin: calc((var(--lineheight) / 4) + 1px) 0;
    padding: calc(var(--lineheight) / 4) 1ch;
    text-decoration: underline;
}
header button::after,
nav button::after {
    content: ' /';
}
header button:hover,
nav button:hover {
    background-color: var(--text);
    color: var(--background);
}
nav button:disabled {
    border: none;
    pointer-events: none;
    font-weight: 400;
    text-decoration: line-through;
}

form {
    margin: 0 0 var(--lineheight) ;
}

label {
    display: block;
}

.board {
    border: solid 1px var(--text);
    outline: solid 1px var(--text);
    outline-offset: 2px;

    margin: 0 0 var(--lineheight);
    width: min(100%, calc(var(--ship-section-size) * 11 + 2px));
    aspect-ratio: 1;

    display: grid;
    grid-template-columns: repeat(11, 1fr); 
    grid-template-rows: repeat(11, 1fr);
    gap: 0;
    justify-items: stretch;
    align-items: stretch;
}
.board__coordenates {
    align-self: center;
    justify-self: center;
}
.board__attack {
    border: none;
    background: none;
    outline: solid 1px var(--text);
    color: var(--text);

    transition: background-color 1.5s ease-out;
}
.board__attack:hover {
    background-color: var(--text);
    color: var(--background);

    transition: background-color 0.1s ease-in;
}
.board__attack:hover:focus-within {
    outline-color: var(--background);
}
.board__attack:focus-within {
    outline-offset: -4px;
}
.board__attack:disabled {
    cursor: not-allowed;

    background-color: var(--background);
    color: var(--text);
}
.board__attack:disabled[data-impact='ship'] {
    color: var(--background);
    background-color: var(--text);
}
.board__attack:active {
    transform: scale(1.2);
    background-color: var(--accent);
}

.dock {
    margin: calc(var(--lineheight) / 2) 0;
    /* padding: 1ch; */
    
    width: min(calc(5 * var(--ship-section-size)), 45%);
    aspect-ratio: 1;

    border: 1px solid var(--text);
    outline: 1px solid var(--text);
    outline-offset: 2px;

    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* flex-direction: column; */
}
.ship {
    display: flex;
    flex: 1;
    background: red;
    /* flex-direction: column; */
}
.ship__section {
    flex: 1;
    outline: 1px solid var(--text);
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.board__ships {
    border: none;
    background: none;
    outline: solid 1px var(--text);
    display: flex;
    justify-content: center;
    align-items: center;
}

.board__ships--empty {
    color: var(--text);
}
.board__ships--occupied {
    color: var(--background);
    background-color: var(--text);
}

input {
    box-sizing: border-box;
    display: block;
    width: min(100%, 55ch);
    background-color: var(--background);
    color: var(--text);
    border: none;
    border-bottom: solid 1px var(--text);
    margin: calc((var(--lineheight) / 4) + 1px) 0;
    padding: calc(var(--lineheight) / 4) 1ch;
}
input::placeholder {
    color: var(--primary);
    opacity: 1;
}
input:focus-visible {
    background-color: var(--text);
    color: var(--background);
}
input:focus-visible::placeholder {
    color: unset;
}
.counter {
    display: block;
    color: var(--accent);
    font-weight: 700;
}
.counter::after {
    content: ' Segundos';
}
.set {
    background-color: var(--background);
    font-weight: 700;
    color: var(--text);
    border: solid 1px var(--text);
    margin: calc((var(--lineheight) / 4) + 1px) 0;
    padding: calc(var(--lineheight) / 4) 1ch;
}
.set:hover,
.set:focus-visible {
    background-color: var(--text);
    color: var(--background);
}
.set:active {
    background-color: var(--secondary);
    transform: scale(0.95);
}
.set:disabled {
    background-color: var(--text);
    color: var(--background);
    pointer-events: none;
}

/* Accesibilidad del contenido*/
.hidden,
[hidden] {
    display: none !important;
}
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
/* Estilos del botón de skip */
@media (prefers-reduced-motion: reduce) {
    /* Bloquea movimiento y animaciones */
    *,
    *::before,
    *::after {
        transition: none !important;
        animation: none !important;
        scroll-behavior: auto !important;
    }
}

@keyframes radar {
    from {
        transform: translate(-50%, -50%) rotate(0turn);
    }
    to {
        transform: translate(-50%, -50%) rotate(1turn);
    }
}

@keyframes alarm {
    40%,
    60% {
        background-color: var(--accent);
    }
}
