/* FUENTES */
@font-face {
    font-family: 'M Plus 1 Code';
    font-weight: 400;
    font-style: normal;
    src:
        local('M Plus 1 Code'),
        url('../assets/fonts/MPLUS1Code-Regular.woff2') format('woff2'),
        url('../assets/fonts/MPLUS1Code-Regular.woff') format('woff');
}
@font-face {
    font-family: 'M Plus 1 Code';
    font-weight: 700;
    font-style: normal;
    src:
        local('M Plus 1 Code'),
        url('../assets/fonts/MPLUS1Code-Bold.woff2') format('woff2'),
        url('../assets/fonts/MPLUS1Code-Bold.woff') format('woff');
}
:root {
    --text: hsl(55, 66%, 65%);
    --background: hsl(147, 94%, 6%);
    --primary: hsl(54, 19%, 71%);
    --secondary: hsl(54, 55%, 49%);

    --font: 'M Plus 1 Code', monospace;
    --lineheight: calc(1ex / 0.32);
}
html {
    hanging-punctuation: first last;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    text-size-adjust: none;
}
*:not(dialog),
*::after,
*::before {
    margin: 0;
    padding: 0;
}

h1,
h2,
p {
    line-height: var(--lineheight);
    margin: 0 0 var(--lineheight);
    font-weight: 400;
    max-width: 65ch;
    text-wrap: pretty;
}
h1,
h2 {
    font-size: 1rem;
    text-transform: uppercase;
    font-weight: 700;
    text-wrap: balance;
}
strong {
    font-weight: 700;
}

a,
button {
    cursor: pointer;
}
:focus-visible {
    outline: solid 1px var(--text);
    outline-offset: 2px;
}
input,
textarea,
button,
select {
    font: inherit;
}
::selection {
    background-color: var(--primary);
    color: var(--background);
}
/* Secciones */
body {
    position: relative;
    padding: 1rem;
    font-family: var(--font);
    background-color: var(--background);
    min-height: 100vh;
    color: var(--text);
}

.radar {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    overflow: hidden;
    pointer-events: none;
}
.radar__swep {
    width: calc(max(100vh, 100vw) * 4);
    aspect-ratio: 1;
    background-image: conic-gradient(
        var(--background),
        var(--text) 357deg,
        white 360deg
    );
    mix-blend-mode: hard-light;
    animation: radar 2s infinite linear;
}

.board {
    border: solid 1px var(--text);

    margin: calc(var(--lineheight) / 2) 0;
    width: min(100%, 55ch);
    aspect-ratio: 1;

    display: grid;
    grid-template-columns: 4ch repeat(10, 1fr);
    grid-template-rows: 4ch repeat(10, 1fr);
    gap: 0;
    justify-items: stretch;
    align-items: stretch;
}
.board__coordenates {
    align-self: center;
    justify-self: center;
}
.board__cell {
    border: none;
    background: none;
    outline: solid 1px var(--text);
    color: var(--text);
    transform: rotate(var(--rotation));

    transition: background-color 1.5s ease-out;
}
.board__cell:hover {
    background-color: var(--text);
    color: var(--background);
    transition: background-color 0.3s ease-in;
}
.board__cell:hover:focus-within {
    outline-color: var(--background);
}
.board__cell:focus-within {
    outline-offset: -4px;
}
.board__cell:disabled {
    background-color: var(--primary);
    color: var(--background);
    cursor: not-allowed;
}
.board__cell:disabled[data-impact='ship'] {
    background-color: var(--text);
}

input {
    background-color: var(--background);
    color: var(--text);
    border: none;
    border-bottom: solid 1px var(--text);
    margin: calc((var(--lineheight) / 4) + 1px) 0;
    padding: calc(var(--lineheight) / 4) 1ch;
}
input::placeholder {
    color: var(--primary);
}
input:focus-visible {
    background-color: var(--text);
    color: var(--background);
}
input:focus-visible::placeholder {
    color: unset;
}
.set {
    background-color: var(--background);
    color: var(--text);
    border: solid 1px var(--text);
    margin: calc((var(--lineheight) / 4) + 1px) 0;
    padding: calc(var(--lineheight) / 4) 1ch;
}
.set:hover,
.set:focus-visible {
    background-color: var(--text);
    color: var(--background);
}
.set:active {
    background-color: var(--secondary);
    transform: scale(0.95);
}

/* Accesibilidad del contenido*/
.hidden,
[hidden] {
    display: none !important;
}
.sr-only:not(:focus):not(:active) {
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    height: 1px;
    overflow: hidden;
    position: absolute;
    white-space: nowrap;
    width: 1px;
}
/* Estilos del botón de skip */
@media (prefers-reduced-motion: reduce) {
    /* Bloquea movimiento y animaciones */
    *,
    *::before,
    *::after {
        transition: none !important;
        animation: none !important;
        scroll-behavior: auto !important;
    }
}

@keyframes radar {
    from {
        transform: translate(-50%, -50%) rotate(0turn);
    }
    to {
        transform: translate(-50%, -50%) rotate(1turn);
    }
}

@keyframes alarm {
    40%,
    60% {
        background-color: red;
    }
}
